In [12]:
import pandas as pd
import warnings
import spacy
from sklearn.datasets import fetch_20newsgroups
from string import punctuation
from spacy.lang.en.stop_words import STOP_WORDS
import gensim.corpora as corpora
import gensim
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel
from gensim.models.ldamodel import LdaModel
from matplotlib import pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import matplotlib.colors as mcolors
warnings.filterwarnings('ignore')

In [8]:
df = pd.read_csv(r"C:\Users\sopon\Downloads\data.csv\rating.csv")

In [13]:
tokenized_doc_spacy = df[:100]

In [14]:
tokenized_doc_spacy[:1]

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,article,title_sentiment
0,81664,NaN,Forbes,"Elizabeth Brownfield, Contributor, \n Elizabet...",superstar chef yannick alléno brings refined f...,Now open in Mayfair at Four Seasons Hotel Lond...,https://www.forbes.com/sites/elizabethbrownfie...,https://imageio.forbes.com/specials-images/ima...,2023-11-01 03:27:21.000000,"Pavyllon London, at Four Seasons Hotel London ...",Monaco,"pavyllon london, at four seasons hotel london ...",Neutral

In [18]:
nlp = spacy.load('en_core_web_sm')

In [19]:
stopwords = list(STOP_WORDS)

In [20]:
def spacy_tokenizer(sentence):
    mytokens = nlp(sentence)
    mytokens = [ word.lemma_.lower().strip() if word.lemma_ != "-PRON-" else word.lower_ for word in mytokens ]
    mytokens = [ word for word in mytokens if word not in stopwords and word not in punctuation ]
    mytokens = [ word for word in mytokens if len(word) > 3]
    mytokens = " ".join([i for i in mytokens])
    return mytokens

In [23]:
df1 = df.iloc[:,3:5]

In [24]:
df1.head()

,author,title
0,"Elizabeth Brownfield, Contributor, \n Elizabet...",superstar chef yannick alléno brings refined f...
1,NaN,nice claim top spot in ligue 1 with late win a...
2,Christina Larson / AP,amphibians are the world’s most vulnerable spe...
3,Sara Schmidt,image: rusty red waters in madagascar
4,Jason Struss,everything leaving max (formerly hbo max) in n...